.basicLayout {
  background-color: #e7e0d4;
  min-height: 100vh;

  :global {
    input {
      width: 100%;
      padding: 12px;
      border: 2px solid #000;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }

    .main-section {
      .MuiGrid-root {
        flex-direction: row-reverse;
      }
    }

    .logo-word {
      font-size: 36px;
      color: #03438D;
      margin-bottom: -4px;

      @media (max-width:350px) {
        font-size: 26px;
      }
    }
  }
}